{% extends 'base.html' %}
{% load i18n %}

{% block content %}
	<h2>{% trans "Bienvenido a la tienda virtual" %}</h2>
    {% if user.is_authenticated and user.is_staff or user.is_superuser%}
            <ul>
                <li class="list-group-item"><a href="{% url 'listaProductos' %}">{% trans "Gestión de productos" %}</a></li>
                <li class="list-group-item"><a href="{% url 'informes' %}">{% trans "Informes" %}</a></li>
	        </ul>
    {% else %}
        <ul>
            <li class="list-group-item"><a href="{% url 'listaProductosCompra' %}">{% trans "Realizar compra" %}</a></li>
        </ul>
    {% endif %}
{% endblock %}
